<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset='UTF-8'>

    <title>꾸밈 스튜디오 - ADMIN</title>
    <!-- ====================== Global CSS ===================== -->
    <link type="text/css" rel="stylesheet" href="/css/googleApiFonts.css">
    <link type="text/css" rel="stylesheet" href="/css/fontawesome.min.css">
    <link type="text/css" rel="stylesheet" href="/css/sb-admin-2.min.css">
    <!-- ======================================================= -->

    <!-- ==================== Global Script ==================== -->
    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery-easing/jquery.easing.min.js"></script>
    <script src="/js/sb-admin-2.min.js"></script>
    <!-- ======================================================= -->

</head>