<th:block th:replace="~{/common/commonHead}"></th:block>
<th:block th:replace="~{/common/commonHeader}"></th:block>
<!-- main content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">상품 목록</h1>
    <p class="mb-4"></p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>상품명</th>
                            <th>가격</th>
                            <th>생성일</th>
                            <th>최종 수정일</th>
                            <th>노출여부</th>
                            <th>상세</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item : ${pageData.getItemList()}" th:productUID="${item.getProductUID()}">
                            <td th:text="${item.getProductUID()}"></td>
                            <td th:text="${item.getProductName()}"></td>
                            <td th:text="${item.getProductPrice()}"></td>
                            <td th:text="${item.getCreatedAt()}"></td>
                            <td th:text="${item.getUpdatedAt()}"></td>
                            <td>
                                <div class="form-check form-switch" style="width: min-content; margin: auto;">
                                    <input class="form-check-input" type="checkbox" role="switch" onchange="changeExposure(this)" th:checked="${item.getIsExposure()}">
                                </div>
                            </td>
                            <td>
                                <button class="btn btn-dark" onclick="moveDetailPage(this)">상세</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="btn-group d-flex align-items-center justify-content-center pb-50" role="group" aria-label="Basic outlined example">
                    <!-- Previous Page Link -->
                    <a th:class="'btn btn-success border-0 pagination' + (${currentPage > 1 ? '' : ' disabled'})"
                       th:if="${currentPage > 1}"
                       th:href="${pageUrl} + '?page=' + ${currentPage - 1} + '&limit=' + ${limit} + ${searchType != null ? '&searchType=' + searchType : ''} + ${searchValue != null ? '&searchValue=' + searchValue : ''} + '&startAt=' + ${startAt != null ? startAt : ''} + '&endAt=' + ${endAt != null ? endAt : ''} + '&pointType=' + ${pointType != null ? pointType : ''} + '&userGradeList=' + ${userGradeList != null ? userGradeList.toString().replace('[', '').replace(']', '') : ''} + '&approvalTypeList=' + ${approvalTypeList != null ? approvalTypeList.toString().replace('[', '').replace(']', '') : ''}">
                        &lt;
                    </a>
                    <span th:each="pageNumber : ${#numbers.sequence((paginationLimit * (currentGroupPage - 1)) + 1, ((paginationLimit * currentGroupPage) < totalPages ? (paginationLimit * currentGroupPage) : totalPages) + 1)}" th:if="${pageNumber <= totalPages}">
                          <a th:class="'btn btn-success' + (${pageNumber == currentPage ? ' active' : ''})"
                             th:href="${pageUrl} + '?page=' + ${pageNumber} + '&limit=' + ${limit} + ${searchType != null ? '&searchType=' + searchType : ''} + ${searchValue != null ? '&searchValue=' + searchValue : ''} + '&startAt=' + ${startAt != null ? startAt : ''} + '&endAt=' + ${endAt != null ? endAt : ''} + '&pointType=' + ${pointType != null ? pointType : ''} + '&userGradeList=' + ${userGradeList != null ? userGradeList.toString().replace('[', '').replace(']', '') : ''} + '&approvalTypeList=' + ${approvalTypeList != null ? approvalTypeList.toString().replace('[', '').replace(']', '') : ''}">
                              [[${pageNumber}]]
                          </a>
                      </span>
                    <!-- Next Page Link -->
                    <a th:class="'btn btn-success border-0 pagination' + (${currentPage < totalPages ? '' : ' disabled'})"
                       th:if="${currentPage < totalPages}"
                       th:href="${pageUrl} + '?page=' + ${currentPage + 1} + '&limit=' + ${limit} + ${searchType != null ? '&searchType=' + searchType : ''} + ${searchValue != null ? '&searchValue=' + searchValue : ''} + '&startAt=' + ${startAt != null ? startAt : ''} + '&endAt=' + ${endAt != null ? endAt : ''} + '&pointType=' + ${pointType != null ? pointType : ''} + '&userGradeList=' + ${userGradeList != null ? userGradeList.toString().replace('[', '').replace(']', '') : ''} + '&approvalTypeList=' + ${approvalTypeList != null ? approvalTypeList.toString().replace('[', '').replace(']', '') : ''}">
                        &gt;
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
<th:block th:replace="~{/common/commonFooter}"></th:block>
<script>
    const moveDetailPage = (element) => {
        window.location.href = "/admin/product/" + element.closest("tr").attributes.productUID.value;
    }

    const changeExposure = async (element) => {
        const productUID = element.closest("tr").attributes.productUID.value;

        await apiRequest(
            HttpMethod.PUT,
            "/api/v1/admin/product/exposure",
            { productUID: productUID, isExposure : element.value === "on" },
            (res) => {
                alert(res);
            },
            (err) => {
                alert(err)
            }
        )
    }
</script>
<th:block th:replace="~{/common/commonFoot}"></th:block>